main#main_404 {
  height: 80vh;
}

/* TEXT */
#main_404 h1,
#main_404 p {
  text-align: center;
}

#main_404 h1 {
  margin: 0;
  padding: 10px;
}

#main_404 p {
  font-size: larger;
}

#main_404 strong {
  text-transform: uppercase;
}

footer {
  height: 20vh;
}


/* HORLOGE */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}




.clock {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 1px solid var(--color1);
  position: relative;
  padding: 10px;
}

.clock:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6%;
  height: 6%;
  z-index: 100;
}

#timer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.seconds {
  background: var(--color1);
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 10;
}


@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

/* .seconds-container {
      animation: rotate 10s infinite linear;
    } */