.justifySection {
    display: block;
    height: 45rem;
}

section {
    margin: auto;
    margin-top: 2rem;
    background-color: var(--color1);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 25rem;
    height: 20rem;
}

section>p {
    padding: 1rem;
    font: var(--text-font);
    font-size: var(--text-size);
    max-height: var(--main-line-height);
    color: var(--color3);
    /* line-lenght a chercher */
}

section>ul {

    margin: 0;
    padding: 1rem;
    color: var(--color3);
    list-style-type: none;
    font: var(--text-font);
    font-size: var(--text-size);
    max-height: var(--main-line-height);
}

section>h1 {
    color: var(--color2);
    text-align: center;
    font: var(--title-font);
    font-size: var(--title-size);
    width: 25rem;
}

.map {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70rem;
}

iframe {
    margin: auto;
    max-width: 30rem;
    height: 30rem;
}



@media screen and (min-width:800px) {
    .justifySection {
        display: flex;
        justify-content: space-around;
        height: 25rem;

    }

    .map {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 3rem;
        height: 40rem;

    }
}

form {
    margin: auto;
    /* permet de centre  */
    text-align: center;
    background-color: var(--color1);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 30rem;
    width: 100%;
    height: 30rem;
}

input {
    /* on parametre les input de la page contact et leur style  */
    border-radius: 10px;
    margin-top: 1rem;
    width: 15rem;
    height: 1.5rem;

}

.inputMessage {
    /* on parametre l'input message de la page contact et son style  */
    border-radius: 10px;
    margin-top: 1rem;
    max-width: 28rem;
    height: 8rem;
}

label {
    padding: auto;
    font: var(--text-font);
    font-size: var(--text-size);
    color: var(--color3);
}

textarea {
    width: 30rem;
}



@media screen and (min-width:900px) {
    form, iframe {
        width: 45%;
    }

    textarea {
        width: 90%;
    }
}


@media screen and (max-width:400px) {
    iframe {
        max-width: 350px;
    }
    
    textarea {
        width: 90%;
    }
    }



/* ENVELOPPE DU FORM */
#form_button {
    border: 0;
    padding: 0;
    width: 400px;
    height: 150px;
    margin: auto;
    background-color: transparent;
}

.letter-image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    transition: 0.4s;
}

.animated-mail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
}

.animated-mail .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
}

.animated-mail .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
}

.animated-mail .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
}

.animated-mail .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s 0.2s;
}

.animated-mail .letter .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}

.animated-mail .letter .letter-title {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: #cb5a5e;
}

.animated-mail .letter .letter-context {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: #cb5a5e;
}

.animated-mail .letter .letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #cb5a5e;
    opacity: 0.3;
}

.shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: 0.4s;
    transform: translateX(-50%);
    -webkit-transition: 0.4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: 0.4s;
    -moz-transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.letter-image:hover .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
}

.letter-image:hover .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
}

.letter-image:hover .animated-mail .letter {
    height: 180px;
}

.letter-image:hover .shadow {
    width: 250px;
}