/*Qui sommes nous*/
.who_are_we {
    filter: drop-shadow(0 0 0.75rem rgb(38, 80, 67));
    float: left;
    margin: 10px 50px 20px 0;
    width: 30%;
    height: 400px;
    border-radius: 25px
}

.why_us>p {

    text-align: justify;
    font-size: 1.5rem;
    padding: 0%;
}

.why_us>h1 {
    color: var(--color1);
    display: flex;
    padding: 2%;
}

/*Service*/
.code_service {
    filter: drop-shadow(0 0 0.75rem rgb(38, 80, 67));
    float: right;
    margin: 10px 50px 20px 0;
    width: 30%;
    height: 400px;
    border-radius: 25px;
}

.service>p {
    font-size: 1.5rem;
    text-align: left;
    padding: 0%;
}

.service>h1 {
    display: flex;
    padding: 3%;
    color: var(--color1);
}

/*equipe*/
.equipe {
    filter: drop-shadow(0 0 0.75rem rgb(38, 80, 67));
    float: left;
    margin: 10px 50px 20px 0;
    width: 30%;
    height: 400px;
    border-radius: 25px
}

.team>p {
    margin: 10px 50px 20px 0;
    text-align: justify;
    font-size: 1.5rem;
    padding: 0%;
}

.team>h1 {
    display: flex;
    padding: 2%;
    color: var(--color1);
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.3rem;
    width: 100vw;
    font-weight: bold;
    background-color: var(--main-background-color);
}

/*RESPONSIVE*/

@media screen and (min-width: 450px) and (max-width: 600px) {
    .who_are_we {
        width: 100%;
    }

    .code_service {
        width: 100%;
    }

    .equipe {
        width: 100%;
    }
}