/************* SERVICES CARDS **************/
#services_cards {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 80%;
  justify-content: space-around;
  margin: 10px;

}

h1 {
  color: var(--color1);
  grid-column-start: 2;
  text-align: center;
}


.prices {
  grid-row-start: 2;
  align-items: baseline;
  border: 2px solid #587B7F;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color1);
  text-align: center;
  color: var(--color2);
  margin: 20px;
}

.prices>h2 {
  width: initial;
}

.prices>p {
  padding: 10px;
}

.prices ul {
  padding-left: 0;
}

.prices li {
  list-style: none;
}

.prices i {
  padding-right: 10px;
  padding: 10px;
}


/********** SLIDER *************/

#slider {
  overflow: hidden;
  width: auto;
  height: 400px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 100px;
  position: relative;
}


#slider>figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 40s slidy infinite;
}

#slider>figure>img {
  width: 20%;
  float: left;
  /* permet de faire defiler les slides de droite a gauche*/
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}


/**************************** RESPONSIVE *****************/
@media screen and (max-width: 400px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 901px) {
  #services_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #services_cards>h1 {
    font-size: 2rem;
  }

  .prices {
    width: 80%;
  }

  #slider {
    position: relative;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    height: 500px;
  }

  #slider figure {
    position: absolute;
  }
}