/**************************** VARIABLES *******************/

:root {
    --main-background-color: #d1d1d1;
    --color1: #587b7f;
    --color2: #d8d4d3;
    --color3: #f1f2eb;
    --color4: #393e41;

    --main-line-height: 1.4 rem;
    --main-line-lenght: 25 ch;

    --title-size: 2rem;

    --border-radius: 25px;
    --box-shadow: 0 3px 7px var(--color2);
}





/**************************** RESET **********************/
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color2);
}









/**************************** HEADER *********************/
#header_nav {
    min-height: 30vh;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--color1);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 100%;
    height: auto;
}



/* MENU */
.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-inline-start: 0;
    background-color: var(--color1);
    box-shadow: var(--box-shadow);
    transition: 0.7s;
    margin: 0;
}

.menu.active {
    left: 0;
}

.nav-link {
    font-weight: bold;
    color: var(--color2);
    text-transform: uppercase;
    font-size: 2rem;
}



/* BURGER */
.hamburger {
    display: block;
    cursor: pointer;
    padding-right: 2rem;
    font-weight: bold;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color2);
}



/* TITRE + IMG HEADER */
.header-content {
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);
    justify-content: space-evenly;
    min-height: 18vh;
}

.header-content img {
    width: 50%;
    height: 80%;
}

.header-content h1 {
    width: 30%;
    font-size: 1.2rem;
    color: var(--color2);
}





/**************************** RESPONSIVE *****************/
@media screen and (min-width: 401px) and (max-width: 600px) {}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .header-content img {
        width: 40%;
    }
}

@media screen and (min-width: 901px) {


    /* MENU */
    .menu {
        width: 65%;
        position: initial;
        flex-direction: row;
        box-shadow: none;
        transition: 0s;
        margin: initial;
        padding-inline-start: initial;
    }

    .nav-link {
        font-size: 1.4rem;
    }



    /* BURGER */
    .hamburger {
        display: none;
    }



    /* TITRE + IMG HEADER */
    .header-content {
        padding: 20px;
        align-items: center;
    }

    .header-content img {
        width: 30%;
        height: auto;
    }

    .header-content h1 {
        font-size: 2rem;
    }
}











/**************************** FOOTER *********************/
footer {
    position: relative;
    bottom: 0;
}

.footer-main {
    display: flex;
    background-color: var(--color1);
    box-shadow: var(--box-shadow);
    width: 100vw;
    padding-top: 2rem;
    margin-top: 20px;
    padding-bottom: 2rem;
}

/* PARTIE GAUCHE DU FOOTER */

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding-left: 1rem;
}

.footer-left img {
    width: 40%;
}

.footer-links {
    color: var(--color2);
    margin: 20px 0 12px;
    padding: 0;
}

.footer-links a {
    color: black;
}

.copyright {
    color: var(--color2);
}

/* PARTIE CENTRALE DU FOOTER */
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding: 0rem 4rem;
}

.footer-center p {
    display: inline-block;
    color: var(--color2);
    vertical-align: middle;
    margin: 1rem;
}

.footer-center a {
    color: black;
}

.location {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
}

/* PARTIE DROITE DU FOOTER */
.footer-right {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 1rem;
}

.footer-about {
    color: var(--color2);
    font-weight: bold;
}

.footer-about span {
    display: block;
    color: var(--color2);
    margin-bottom: 1rem;
    font-weight: bold;
}

/* PASSAGE EN RESPONSIVE */

@media screen and (max-width: 900px) {
    .footer-main {
        display: block;
        font-size: 0.8rem;
        padding-bottom: 0;
    }

    .footer-left {
        display: block;
        width: 100vw;
        margin-bottom: 1rem;
        text-align: center;
        padding: 0;
    }

    .footer-left img {
        width: 30%;
    }

    .footer-links {
        margin: 0;
    }

    .footer-links a {
        display: inline-block;
        color: var(--color2);
        text-decoration: none;
        line-height: 1.8;
    }

    .footer-center {
        display: block;
        width: 100vw;
        margin-bottom: 5rem;
        text-align: center;
        padding: 0;
        padding-bottom: 2rem;
        margin-bottom: 0;
    }

    .footer-center p {
        margin: 0;
    }

    .location {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
        font-weight: normal;
    }

    .email {
        display: block;
        text-align: center;
        font-weight: normal;
    }

    .phone {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
        font-weight: normal;
    }

    .footer-center p {
        display: block;
        color: var(--color2);
    }

    .footer-center a {
        color: var(--color2);
    }

    .footer-right {
        display: block;
        width: 100vw;
        margin-bottom: 5rem;
        text-align: center;
        padding: 0;
        margin-bottom: 1rem;
    }

    .copyright {
        display: none;
    }

    .footer-about span {
        display: block;
        padding-bottom: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .footer-about {
        display: none;
        text-align: center;
        text-justify: inter-word;
        font-weight: normal;
    }

    .footer-icons {
        padding-top: 1rem;
    }

    .footer-main img {
        padding: 0.5rem;
    }
}



main {
    overflow: hidden;
}