/**************************** VARIABLES *******************/

:root {
    --main-background-color: #d1d1d1;
    --color1: #587b7f;
    --color2: #d8d4d3;
    --color3: #f1f2eb;
    --color4: #393e41;

    --main-line-height: 1.4 rem;
    --main-line-lenght: 25 ch;

    --title-size: 2rem;

    --border-radius: 25px;
    --box-shadow: 0 3px 7px var(--color2);
}





/**************************** RESET **********************/
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color2);
}











  
  header {
    width: 100vw;
    height: 100%;
    background-color: var(--color1);
  }
  
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
  }
  
  .nav-logo img {
    width: 30%;
  }
  .hamburger {
    display: none;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color2);
  }
  .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    font-size: var(--text-size);
  }
  .nav-item {
    padding: 0 2.2rem;
    margin-left: 0rem;
  }
  
  .nav-link {
    font-weight: bold;
    color: var(--color2);
  }
  
  .nav-link:hover {
    color: black;
  }
  
  .header-content {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    background-color: var(--color1);
  }
  .header-content img {
    padding-bottom: 2rem;
    width: 35%;
    height: 90%;
  }
  
  h1 {
    padding: 3rem 0 rem 3rem;
    width: 30%;
    color: var(--color2);
    margin: 0;
    font-size: 50px;
    font-family: "libre baskerville";
  }
  /* IMPLEMENTATION DU MENU BURGER */
  @media screen and (max-width: 900px) {
    .menu {
      position: fixed;
      left: -100%;
      top: 5vh;
      flex-direction: column;
      background-color: var(--color1);
      width: 100%;
      text-align: center;
      transition: 0.7s;
      box-shadow: var(--box-shadow);
    }
    .header-content img {
      padding-bottom: 0rem;
      width: 50vw;
      height: 35vh;
    }
    .header-content h1 {
      font-size: 32px;
      padding: 2rem 1rem;
    }
  
    .menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      padding-right: 2rem;
      font-weight: bold;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-logo img {
      width: 20%;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 600px) {
    .menu {
      top: 4vh;
    }
    .nav-logo img {
      width: 20%;
    }
  
    .nav-item {
      font-size: 12px;
      margin: 2.2rem 0rem;
    }
    .header-content img {
      width: 50%;
      height: 80%;
      padding-bottom: 1rem;
    }
  
    .header-content {
      justify-content: space-evenly;
      height: 28vh;
    }
    .header-content h1 {
      padding: 3rem 0 1rem 0.5rem;
      margin: 0;
      font-size: 14px;
      font-family: "libre baskerville";
      color: var(--color2);
      font-weight: bold;
    }
  }
  @media screen and (max-width: 450px) {
    .menu {
      top: 4vh;
    }
    .nav-logo img {
      width: 25%;
    }
  
    .nav-item {
      font-size: 10px;
      margin: 2.2rem 0rem;
    }
    .header-content img {
      width: 50%;
      height: 70%;
      padding-bottom: 1rem;
    }
  
    .header-content {
      justify-content: space-evenly;
      height: 20vh;
    }
    .header-content h1 {
      padding: 3rem 0 1rem 0.5rem;
      margin: 0;
      font-size: 12px;
      font-family: "libre baskerville";
      color: var(--color2);
      font-weight: bold;
    }
  }
  















  /* DONNEES GLOBALES DU FOOTER */
footer {
    position: relative;
    bottom: 0;
  }
  
  .footer-main {
    display: flex;
    background-color: var(--color1);
    box-shadow: var(--box-shadow);
    width: 100vw;
    padding-top: 2rem;
    margin-top: 20px;
    padding-bottom: 2rem;
  }
  /* PARTIE GAUCHE DU FOOTER */
  
  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding-left: 1rem;
  }
  .footer-left img {
    width: 40%;
  }
  
  .footer-links {
    color: var(--color2);
    margin: 20px 0 12px;
    padding: 0;
  }
  .footer-links a {
    color: black;
  }
  .copyright {
    color: var(--color2);
  }
  /* PARTIE CENTRALE DU FOOTER */
  .footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding: 0rem 4rem;
  }
  
  .footer-center p {
    display: inline-block;
    color: var(--color2);
    vertical-align: middle;
    margin: 1rem;
  }
  .footer-center a {
    color: black;
  }
  .location {
    display: flex;
    align-items: center;
  }
  .email {
    display: flex;
    align-items: center;
  }
  
  .phone {
    display: flex;
    align-items: center;
  }
  
  /* PARTIE DROITE DU FOOTER */
  .footer-right {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding-right: 1rem;
  }
  
  .footer-about {
    color: var(--color2);
    font-weight: bold;
  }
  
  .footer-about span {
    display: block;
    color: var(--color2);
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  /* PASSAGE EN RESPONSIVE */
  
  @media screen and (max-width: 900px) {
    .footer-main {
      display: block;
      font-size: 0.8rem;
      padding-bottom: 0;
    }
    .footer-left {
      display: block;
      width: 100vw;
      margin-bottom: 1rem;
      text-align: center;
      padding: 0;
    }
    .footer-left img {
      width: 30%;
    }
    .footer-links {
      margin: 0;
    }
    .footer-links a {
      display: inline-block;
      color: var(--color2);
      text-decoration: none;
      line-height: 1.8;
    }
    .footer-center {
      display: block;
      width: 100vw;
      margin-bottom: 5rem;
      text-align: center;
      padding: 0;
      padding-bottom: 2rem;
      margin-bottom: 0;
    }
    .footer-center p {
      margin: 0;
    }
  
    .location {
      display: block;
      text-align: center;
      padding-bottom: 1rem;
      font-weight: normal;
    }
    .email {
      display: block;
      text-align: center;
      font-weight: normal;
    }
  
    .phone {
      display: block;
      text-align: center;
      padding-bottom: 1rem;
      font-weight: normal;
    }
    .footer-center p {
      display: block;
      color: var(--color2);
    }
    .footer-center a {
      color: var(--color2);
    }
  
    .footer-right {
      display: block;
      width: 100vw;
      margin-bottom: 5rem;
      text-align: center;
      padding: 0;
      margin-bottom: 1rem;
    }
  
    .copyright {
      display: none;
    }
    .footer-about span {
      display: block;
      padding-bottom: 2rem;
      font-weight: bold;
      text-align: center;
    }
    .footer-about {
      display: none;
      text-align: center;
      text-justify: inter-word;
      font-weight: normal;
    }
    .footer-icons {
      padding-top: 1rem;
    }
    .footer-main img {
      padding: 0.5rem;
    }
  }
  