header {}

nav {}


main {


}

footer {}



/* HORLOGE */

#test {
width: 100vw;
height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    /* border-radius: 50%;
    background: #fff url(ios_clock.svg) no-repeat center;
    background-size: 88%;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    width: 20em; */

    width: 20em;
    height: 20em;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    padding: 10px;
  }
  
  .clock:after {
    /* background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6%;
    height: 6%;
    z-index: 100; */

    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6%;
    height: 6%;
    z-index: 100;
  }

  .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


  .seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 10;
  }


  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .seconds-container {
    animation: rotate 10s infinite linear;
  }