:root {    
/* colors et polices*/
    --main-background-color: #393e41;
    --color1: #587b7f;
    --color2: #d8d4d3;
    --color3: #f1f2eb;
    --title-font: "Libre Baskerville", serif;
    --text-font: "Lato", sans-serif;
/* espacement de lignes et longueur max */ 
    --main-line-height: 1.4 rem;
    --main-line-lenght: 25 ch;
    --margin-mobile: 0px;
/* police size and weight */  
    --text-size: 1rem; /* pour le texte */
    --title-size: 1.5rem; /* pour les titres ( 0.9 rem d'un h1 par exemple) */
    --font-text-weight: bold;
    --font-title-weight: bold; /* tous les titres doivent être en bold qu'ils soient h1 h2 etc */
    box-sizing: border-box;
}

body{
    margin: var(--margin-mobile);
    background-color: var(--main-background-color);
}

section{
    margin: auto;
    width: 25rem;
    height: 6rem;
}

section p{
    font: var(--text-font);
    font-size: var(--text-size);
    color: var(--color2);
    max-height: var(--main-line-height);
    /* line-lenght a chercher */
}

.liste{
    height: 13rem;
}

section > ul{
    font: var(--text-font);
    font-size: var(--text-size);
    color: var(--color2);
    max-height: var(--main-line-height);
}

section h1{
    text-align: center;
    font:var(--title-font);
    font-size: var(--title-size);
    color: var(--color3);
}


.imgMap{
    display: flex;
    justify-content: center;
}

div img{
    width: 25rem;
}

form {
    margin: auto; /* permet de centre  */
    margin-top: 2rem;
    text-align: center;
    width: 25rem;
    height: 25rem;
}

.ancre{
    color: var(--color2);
}

input {
    /* on parametre les input de la page contact et leur style  */
    border-radius: 10px;
}
  
.inputMessage {
    /* on parametre l'input message de la page contact et son style  */
    border-radius: 10px;
}

label{
    font: var(--text-font);
    font-size: var(--text-size);
    color: var(--color2);
}

button {
    background-color: var(--color1); /* couleur de fond du bouton  */
    color: var(--color2); /* couleur le l'ecriture dans le bouton  */
    text-align: center; /* aligner le text au centre du bouton  */
    border-radius: 10px; /* arondi les angles du bouton  */
    width: 100px; /* choisir les dimension avec width et height  */
    height: 40px;
    font-size: var(--title-font); /* taille de la police d'ecriture  */
    margin-top: 1.5rem;
}