/* DECLARATION DES VALEURS GLOBALES */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.3rem;
  width: 100vw;
  font-weight: bold;
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

/* VARIABLES */
:root {
  /* colors and fonts*/

  --main-background-color: #d1d1d1;
  --color1: #587b7f;
  --color2: #d8d4d3;
  --color3: #f1f2eb;
  /* --title-font: "Libre Baskerville", serif;
            --text-font: "Lato", sans-serif; */

  /* espacement de lignes et longueur max */

  --main-line-height: 1.4 rem;
  --main-line-lenght: 25 ch;
  --margin-mobile: 0px;

  /* police size and weight */

  --text-size: 1rem; /* pour le texte */
  --title-size: 0.9rem; /* pour les titres ( 0.9 rem d'un h1 par exemple) */
  --font-text-weight: bold;
  --font-title-weight: bold; /* tous les titres doivent être en bold qu'ils soient h1 h2 etc */

  /* borders and shadows */
  --border-radius: 25px;
  --box-shadow: 0 3px 7px var(--color2);
}
/* DONNEES GLOBALES DU FOOTER */
footer {
  position: fixed;
  bottom: 0;
}

.footer-main {
  display: flex;
  background-color: var(--color1);
  box-shadow: var(--box-shadow);
  width: 100vw;
  padding-top: 2rem;
  margin-top: 20px;
  padding-bottom: 2rem;
}
/* PARTIE GAUCHE DU FOOTER */

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.3%;
  padding-left: 1rem;
}
.footer-left img {
  width: 40%;
}

.footer-links {
  color: var(--color2);
  margin: 20px 0 12px;
  padding: 0;
}
.footer-links a {
  color: black;
}
.copyright {
  color: var(--color2);
}
/* PARTIE CENTRALE DU FOOTER */
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.3%;
  padding: 0rem 4rem;
}

.footer-center p {
  display: inline-block;
  color: var(--color2);
  vertical-align: middle;
  margin: 1rem;
}
.footer-center a {
  color: black;
}
.location {
  display: flex;
  align-items: center;
}
.email {
  display: flex;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;
}

/* PARTIE DROITE DU FOOTER */
.footer-right {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 1rem;
}

.footer-about {
  color: var(--color2);
  font-weight: bold;
}

.footer-about span {
  display: block;
  color: var(--color2);
  margin-bottom: 1rem;
  font-weight: bold;
}

/* PASSAGE EN RESPONSIVE */

@media screen and (max-width: 900px) {
  .footer-main {
    display: block;
    font-size: 0.8rem;
    padding-bottom: 0;
  }
  .footer-left {
    display: block;
    width: 100vw;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0;
  }
  .footer-left img {
    width: 30%;
  }
  .footer-links {
    margin: 0;
  }
  .footer-links a {
    display: inline-block;
    color: var(--color2);
    text-decoration: none;
    line-height: 1.8;
  }
  .footer-center {
    display: block;
    width: 100vw;
    margin-bottom: 5rem;
    text-align: center;
    padding: 0;
    padding-bottom: 2rem;
    margin-bottom: 0;
  }
  .footer-center p {
    margin: 0;
  }

  .location {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .email {
    display: block;
    text-align: center;
    font-weight: normal;
  }

  .phone {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer-center p {
    display: block;
    color: var(--color2);
  }
  .footer-center a {
    color: var(--color2);
  }

  .footer-right {
    display: block;
    width: 100vw;
    margin-bottom: 5rem;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }

  .copyright {
    display: none;
  }
  .footer-about span {
    display: block;
    padding-bottom: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .footer-about {
    display: none;
    text-align: center;
    text-justify: inter-word;
    font-weight: normal;
  }
  .footer-icons {
    padding-top: 1rem;
  }
  .footer-main img {
    padding: 0.5rem;
  }
}
