/* DECLARATION DES VALEURS GLOBALES */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: var(--main-background-color);
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

/* VARIABLES */
:root {
  /* colors and fonts*/

  --main-background-color: #393e41;
  --color1: #587b7f;
  --color2: #d8d4d3;
  --color3: #f1f2eb;
  /* --title-font: "Libre Baskerville", serif;
        --text-font: "Lato", sans-serif; */

  /* espacement de lignes et longueur max */

  --main-line-height: 1.4 rem;
  --main-line-lenght: 25 ch;
  --margin-mobile: 0px;

  /* police size and weight */

  --text-size: 1rem; /* pour le texte */
  --title-size: 0.9rem; /* pour les titres ( 0.9 rem d'un h1 par exemple) */
  --font-text-weight: bold;
  --font-title-weight: bold; /* tous les titres doivent être en bold qu'ils soient h1 h2 etc */

  /* borders and shadows */
  --border-radius: 25px;
  --box-shadow: 0 3px 7px var(--color2);
}

/* Conception du header ,sans breakpoint particulier */

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* attention le burger etant présent mais caché, si on veut qu'il se glisse à droite après on est obligé de garder cette ligne */
  background-color: var(--color1);
  font-weight: bold;
  height: 55px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /*la amrge auto permet ici de centrer mon ul en fonction du header*/
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 1.3rem;
}
.menu a {
  text-decoration: none;
  color: var(--color3);
}
.menu a:hover {
  color: black;
}
.menu a:active {
  color: black;
}

.menu-button-container {
  display: none; /* on cache le menu burger lorsque + 500 px */
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  /* la petite checkbox invisible pour faire sans*/
  display: none;
}

/* méthode pour faire les traits du burger */

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--color2);
  position: absolute;
  height: 4px;
  width: 5vw;
  border-radius: var(--border-radius);
}

/* Animation pour transformer le burger en croix */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
/* cible le trait du milieu pour le fondre et qu'il disparaisse en lui donnant la même couleur que le background  */
#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--color1);
}

/* STYLISATION DE LA BANNIERE ET DU LOGO */

.baneer {
  display: flex;
  height: 40vh;
  background-color: var(--main-background-color);
  width: 100vw;
  justify-content: center;
  background-image: url(/assets/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: -100px;
}

footer {
  height: 300px;
  background-color: var(--color1);
  width: 100vw;
}
/* passage en responsive du header point de rupture smartphone */

@media screen and (max-width: 520px) {
  .logo {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-left: -90px;
  }

  .top-nav {
    align-items: center;
  }

  .baneer {
    height: 200px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu a {
    overflow: hidden;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 85px;
    left: 0;
    flex-direction: column;
    width: 98.5%;
    justify-content: center;
    align-items: center;
    color: var(--color2);
  }
  .menu ul {
    width: auto;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--color2);
    background-color: var(--color1);
  }
  #menu-toggle:checked ~ .menu li {
    /* largeur des li dans menu deroulant */
    box-shadow: var(--box-shadow);
    height: 1.5rem;
    padding: 1.2em;
  }
}
