/* DECLARATION DES VALEURS GLOBALES */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    /* letter-spacing: 0.3rem; */
    /* width: 100vw; */
    /* font-weight: bold; */
    background-color: var(--main-background-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", sans-serif;
}

/* VARIABLES */
:root {

    /* colors and fonts*/ 
    --main-background-color: #d1d1d1;
    --secondary-background-color: red;
    --color1: #587b7f;
    --color2: #d8d4d3;
    --color3: #f1f2eb;


    /* espacement de lignes et longueur max */
    --main-line-height: 1.4 rem;
    --main-line-lenght: 25 ch;
    --margin-mobile: 0px;


    /* police size and weight */
    --text-size: 1rem;
    --title-size: 2rem;
    --font-text-weight: bold;
    --font-title-weight: bold;


    /* borders and shadows */
    --border-radius: 25px;
    --box-shadow: 0 3px 7px var(--color2);
}


