/* GENERAL RESET */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baskerville', sans-serif;
}

/* VARIABLES */
:root {
    /* colors and fonts*/

    --main-background-color: #393e41;
    --color1: #587b7f;
    --color2: #d8d4d3;
    --color3: #f1f2eb;
    /* --title-font: "Libre Baskerville", serif;
    --text-font: "Lato", sans-serif; */

    /* espacement de lignes et longueur max */

    --main-line-height: 1.4 rem;
    --main-line-lenght: 25 ch;
    --margin-mobile: 0px;

    /* police size and weight */

    --text-size: 1rem;
    /* pour le texte */
    --title-size: 0.9rem;
    /* pour les titres ( 0.9 rem d'un h1 par exemple) */
    --font-text-weight: bold;
    --font-title-weight: bold;
    /* tous les titres doivent être en bold qu'ils soient h1 h2 etc */

    --border-radius: 25px;
    --box-shadow: 0 3px 7px var(--color2);
}


/* GENERAL */

header {}

nav {}


main {}

footer {}


/* RESPONSIVE */

/* Standards Breakpoints
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */


/* MOBILE FIRST (max 360px) */
@media screen and (max-width: 360px) {}

/* TABLETS / LANDSCAPE PHONE (max 768px) */
@media screen and (max-width: 768px) {}


/* DESKTOP+ (from 1200px) */
@media screen and (min-width: 1200px) {}