/déclaration valeurs globales/

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: var(--main-background-color);
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

/ VARIABLES /
:root {
  / colors and fonts/

  --main-background-color: #393e41;
  --color1: #587b7f;
  --color2: #d8d4d3;
  --color3: #f1f2eb;
  / --title-font: "Libre Baskerville", serif;
        --text-font: "Lato", sans-serif; /

  / espacement de lignes et longueur max /

  --main-line-height: 1.4 rem;
  --main-line-lenght: 25 ch;
  --margin-mobile: 0px;

  / police size and weight /

  --text-size: 1rem; / pour le texte /
  --title-size: 0.9rem; / pour les titres ( 0.9 rem d'un h1 par exemple) /
  --font-text-weight: bold;
  --font-title-weight: bold; / tous les titres doivent être en bold qu'ils soient h1 h2 etc /

  / borders and shadows */
  --border-radius: 25px;
  --box-shadow: 0 3px 7px var(--color2);
}
   
}

    .banner {
        display: block;
            margin: 0 auto;
            max-width: 100%;
}   
    

main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around ;
    padding: 2rem;
}  

section{
    border: 2px solid #587B7F ;
    border-radius: 5px;
    text-align: center;
    flex : 1 1 0 ;
    margin : 3rem ;
    padding: 1rem;
  }

h1{
    font-size: 3rem;
    font-weight : bold ;
}

p{
    font-size: 1.5rem;
    font-style: italic ;
}

ul{
    font-size: 1.5rem;
    padding-left : 0;
}

li{
    list-style-type: none;

}

li i{
    padding: 10px;
}

h2{
    font-size: 3rem;
    font-weight : bold ;
}

.slider {
    width: 350px;
    margin: 0 auto 20px;
    text-align: justify;
}

.slider .pictures {
    position: relative;
    height: 250px;
}

.slider .pictures img {
    width: 80%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .pictures img.shown {
    opacity: 1;
}

.prev:before,
.next:before {
  color: #587B7F ;
  font-size: 80px;
  position: absolute;
  top: 35%;
  cursor: pointer;
}

.prev:before {
  content: '<';
  left: 0;
}

.next:before {
  content: '>';
  right: 0;
}

